*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/* HEADER */
header{
	background-color: rgba(0,0,0,0);
	position: fixed;
	width: 100%;
	padding: 0 25px;
	height: 100px;
	transition-duration: 0.4s;
}
@media screen and (max-width: 700px){
	header{
		height: 200px;
		padding: 10px;
	}
	header span{
		display: block;
		text-align: center;
	}
}
header.black{
	background-color: #1e2022;
	height: 50px;
}
@media screen and (max-width: 700px) and (orientation: portrait){
	header.black{
		height: 100px;
		padding: 10px;
	}
	header span{
		display: block;
		text-align: center;
	}
}
header div{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_title{
	color: #e7e7e7;
	font-family: 'earth_orbiterregular', 'Lato', sans-serif;
	width: 300px;
}
.menu{
	padding: 0 5px;
	width: 180px;
}
.menu span{
	color: #e7e7e7;
	font-family: 'Lato', sans-serif;
	line-height: 50px;
	margin: 0 10px;
}
/* BODY */
.block_page{
	background-image: url('../imgs/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/* BANNER */
.banner{
	padding: 50px;
}
.banner_title{
	margin-top: 100px;
	font-family: 'Lato', sans-serif;
	color: #E7E7E7;
	font-size: 36px;
}
.banner_stitle, .banner_stitle strong{
	font-family: 'Lato', sans-serif;
	color: #E7E7E7;
	font-weight: 300;
	margin: 70px 0;
	font-size: 28px;
}
.btn_email{
	border: solid #E7E7E7 3px;
	border-radius: 5px;
	padding: 5px;
	width: 30%;
	margin: auto;
	margin-top: 280px;
	margin-bottom: 30px;
	color: #E7E7E7;
	text-align: center;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
.socila_media{
	margin: auto;
	width: 50%;
	color: #E7E7E7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 36px;
	margin-top: 60px;
	margin-bottom: 150px;
}
@media screen and (max-width: 700px){
	.banner_title{
		margin-top: 250px;
		margin-bottom: 100px;
	}
	.btn_email{
		width: 60%;
	}
	.socila_media{
		width: 80%;
		margin-top: 100px;
	}
}
/* COMPETENCE */
.competence{
	background-color: #E7E7E7;
	display: flex;
	justify-content: space-around;
	padding: 50px;
}
.comp{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 15px;
}
.comp img{
	margin: 5px;
}
.comp .progress{
	height: 10px;
	width: 200px;
	background-color: #52616b;
	border-radius: 10px;
	border : solid 2px #1e2022;
	margin-top: 20px;
}
/*Html progress bar*/
.pgb_html.active{
	width: 90%;
	height: 10px;
	background-color: #F16529;
	border-radius: 10px;
	transition-duration: 1s;
}
.pgb_html.hidden{
	width: 0%;
	height: 10px;
	background-color: #F16529;
	border-radius: 10px;
	transition-duration: 1s;
}
/*Css progress bar*/
.pgb_css.active{
	width: 85%;
	height: 10px;
	background-color: #2965F1;
	border-radius: 10px;
	transition-duration: 1s;
}
.pgb_css.hidden{
	width: 0%;
	height: 10px;
	background-color: #2965F1;
	border-radius: 10px;
	transition-duration: 1s;
}
/*Js progressbar*/
.pgb_js.active{
	width: 35%;
	height: 10px;
	background-color: #F1BF26;
	border-radius: 10px;
	transition-duration: 1s;
}
.pgb_js.hidden{
	width: 0%;
	height: 10px;
	background-color: #F1BF26;
	border-radius: 10px;
	transition-duration: 1s;
}
/*Php progress bar*/
.pgb_php.active{
	width: 45%;
	height: 10px;
	background-color: #9AA0C6;
	border-radius: 10px;
	transition-duration: 1s;
}
.pgb_php.hidden{
	width: 0%;
	height: 10px;
	background-color: #9AA0C6;
	border-radius: 10px;
	transition-duration: 1s;
}
/* ABOUT */
.about{
	padding: 50px;
	background-color: #C9D6DF;
}
.abt{
	letter-spacing: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 28px;
	margin: 10px;
}
.abt_p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	width: 40%;
	font-size: 18px;
	margin: 20px;
	text-align: center;
	margin: 50px auto 20px auto;
}
/* EXPERIENCE */
.experience{
	background-color: #E7E7E7;
	padding: 50px;
}
.exp{
	letter-spacing: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 28px;
	margin: 10px;
}
.exp_p{
	width: 40%;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	margin: 10px auto;
}
.exp_exemple{
	display: flex;
	justify-content: space-around;
}
.ex1, .ex2{
	width: 200px;
	height: 200px;
	background-color: #1E2022;
	line-height: 200px;
	color: white;
	text-align: center;
	font-family: 'lato', sans-serif;
}
/* FROMATION */
.formation{
	background-color: #C9D6DF;
	padding: 50px;
}
.fmt{
	letter-spacing: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 28px;
	margin: 10px;
}
.dsg, .pgmt{
	letter-spacing: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 22px;
	margin: 20px;
}
.dsg_p, .pgmt_p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	width: 40%;
	font-size: 18px;
	margin: 20px;
	text-align: center;
	margin: auto;
}
/* CONTACT */
.contact{
	background-color: #E7E7E7;
	padding: 50px;
}
.ctc{
	letter-spacing: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 28px;
	margin: 10px;
}
.moyen_ctc{
	display: flex;
	justify-content: space-around;
	margin: 80px auto 20px auto;
}
.moyen_ctc p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;

}
/*Letter spacing*/
@media screen and (max-width: 700px){
	.abt{
		letter-spacing: 10px;
	}
	.exp{
		letter-spacing: 10px;
	}
	.fmt{
		letter-spacing: 10px;
	}
	.pgtm{
		letter-spacing: 10px;
	}
	.dsg{
		letter-spacing: 10px;
	}
	.ctc{
		letter-spacing: 10px;
	}
}
/*FOOTER*/
footer{
	height: 200px;
	background-color: #1E2022;
}
footer p{
	color: #E7E7E7;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 100px;
}